<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="utf-8" />
  <title>Welcome to UserStack!</title>
  <link rel="stylesheet" href="/dist/user.bundle.css">
</head>
<body>
<h1>UserStack User</h1>
{{{body}}}
<script type="text/javascript" src="/dist/user.bundle.js"></script>
</body>
</html>
