<h2>Login</h2>
<div>
  <p id="error-output"></p>
</div>
<form id="login-form">
  <label for="username">Username</label>
  <input id="username" type="text" name="username">
  <label for="password">Password</label>
  <input id="password" type="password" name="password">
  <input id="login-submit" type="submit" value="Submit">
</form>
{{#if allowRegistration}}
  <a href="/register">Register</a>
{{/if}}
{{> 'loader/lineloader'}}
