<h2>Register</h2>
<div>
  <p id="error-output"></p>
</div>
<form id="register-form">
  <label for="username">Username</label>
  <input id="username" type="text" name="username">
  <label for="email">Email</label>
  <input id="email" type="text" name="email">
  <label for="code">Invite code</label>
  <input id="code" type="text" name="code">
  <label for="pass1">Password</label>
  <input id="pass1" type="password" name="pass1">
  <label for="pass2">Confirm password</label>
  <input id="pass2" type="password" name="pass2">
  <input id="register-submit" type="submit" value="Submit">
</form>
<a href="/login">Login</a>
{{> 'loader/lineloader'}}
