<a href="/home" class="page-navigation">
  <img src="/img/nav/home.svg">
  <p>{{__ "home.nav.home"}}</p>
</a>
<div class="menu-wrapper">
  <a href="/admin/users">
    <div class="menu-item">
      <img src="/img/auth/users.svg">
      <p>{{__ "admin.nav.users"}}</p>
    </div>
  </a>
</div>
